<ion-header class="ion-no-border">
  <ion-toolbar class="hea" >
    <ion-title >FAQ</ion-title>
    <ion-buttons color="light" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="try">
  <br>
  <ion-label> &nbsp; <b> When will the book be updated?</b> </ion-label>
  <p class="ion-padding"> The book in d'library will be updated once a week and an ongoing webtoon will update
    based on the date in their own release date</p>

  <div style="width: 93%; border-top: 1px solid #d4d4d4; margin-left: 10px;  ">
  </div><br>
  <ion-label> &nbsp; <b> How do I recommend a book?</b> </ion-label>
  <p class="ion-padding"> You have to go to Recomend Us, and enter the tittle of the novel or webtoons and select category/types of your book 
  </p>
  <div style="width: 93%; border-top: 1px solid #d4d4d4; margin-left: 10px;  ">
  </div><br>
  <ion-label> &nbsp; <b> Do I have to buy a coins to read &nbsp; every chapter on d'Library</b> </ion-label>
  <p class="ion-padding"> NO, you don't need the coins to read the chapter or buy the books to read.
  </p>

</ion-content>