<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/solo/1.png">
  <img src="assets/solo/2.png">
  <img src="assets/solo/3.png">
  <img src="assets/solo/4.png">
  <img src="assets/solo/5.png">
  <img src="assets/solo/6.png">
  <img src="assets/solo/7.png">
  <img src="assets/solo/8.png">
  <img src="assets/solo/9.png">
  <img src="assets/solo/10.png">
  <img src="assets/solo/11.png">
  <img src="assets/solo/12.png">
  <img src="assets/solo/13.png">
  <img src="assets/solo/14.png">
  <img src="assets/solo/15.png">
</ion-content>