<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
    <ion-buttons slot="start" [routerLink]="['/sdap']">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    
     <ion-button slot="end" [routerLink]="['/ch1']" fill="clear" >
       <ion-icon name="chevron-forward-outline"color="primary" ></ion-icon>
     </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/sdap/ch2/1.jpeg">
<img src="assets/sdap/ch2/2.jpeg">
<img src="assets/sdap/ch2/3.jpeg">
<img src="assets/sdap/ch2/4.jpeg">
<img src="assets/sdap/ch2/5.jpeg">
<img src="assets/sdap/ch2/6.jpeg">
<img src="assets/sdap/ch2/7.jpeg">
<img src="assets/sdap/ch2/8.jpeg">
<img src="assets/sdap/ch2/9.jpeg">
<img src="assets/sdap/ch2/10.jpeg">
<img src="assets/sdap/ch2/11.jpeg">
<img src="assets/sdap/ch2/12.jpeg">
<img src="assets/sdap/ch2/13.jpeg">
<img src="assets/sdap/ch2/14.jpeg">
<img src="assets/sdap/ch2/15.jpeg">
<img src="assets/sdap/ch2/16.jpeg">
<img src="assets/sdap/ch2/17.jpeg">
</ion-content>
