<ion-header class="ion-no-border">
  <ion-toolbar color="dark" >
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding "> <br> 
    <h5><b>Spinning Silver:</b><i> Chapter 1</i></h5> 
    
    <br>
      <p>
       The real story isn’t half as pretty as the one you’ve heard. The real story is, the miller’s daughter with her long golden hair wants
       to catch a lord, a prince, a rich man’s son, so she goes to the moneylender and borrows for a ring and a necklace and decks herself out 
       for the festival. And she’s beautiful enough, so the lord, the prince, the rich man’s son notices her, and dances with her, and tumbles
       her in a quiet hayloft when the dancing is over, and afterwards he goes home and marries the rich woman his family has picked out for him.
       Then the miller’s despoiled daughter tells everyone that the moneylender’s in league with the devil, and the village runs him out or maybe 
       even stones him, so at least she gets to keep the jewels for a dowry, and the blacksmith marries her before that firstborn child comes along 
       a little early. </p>
  
      <p>
      Because that’s what the story’s really about: getting out of paying your debts. That’s not how they tell it, but I knew. 
      My father was a moneylender,you see. </p>
     
     <p>
      He wasn’t very good at it. If someone didn’t pay him back on time, he never so much as mentioned it to them. Only if our cupboards were really bare,
      or our shoes were falling off our feet, and my mother spoke quietly with him after I was in bed, then he’d go, unhappy, and knock on a few doors,
      and make it sound like an apology when he asked for some of what they owed. And if there was money in the house and someone asked to borrow, 
      he hated to say no, even if we didn’t really have enough ourselves. So all his money, most of which had been my mother’s money, her dowry, stayed 
      in other people’s houses. And everyone else liked it that way, even though they knew they ought to be ashamed of themselves, so they told the 
      story often, even or especially when I could hear it.
     </p>
     <p>
      My mother’s father was a moneylender, too, but he was a very good one. He lived in Vysnia, forty miles away by the pitted old trading road that 
      dragged from village to village like a string full of small dirty knots. Mama often took me on visits, when she could afford a few pennies to pay
      someone to let us ride along at the back of a peddler’s cart or a sledge, five or six changes along the way. Sometimes we caught glimpses of the 
      other road through the trees, the one that belonged to the Staryk, gleaming like the top of the river in winter when the snow had blown clear. 
      “Don’t look, Miryem,” my mother would tell me, but I always kept watching it out of the corner of my eye, hoping to keep it near, because it meant
      a quicker journey: whoever was driving the cart would slap the horses and hurry them up until it vanished again.
     </p>
     <p>
      One time, we heard the hooves behind us as they came off their road, a sound like ice cracking, and the driver beat the horses quick to get the cart
      behind a tree, and we all huddled there in the well of the wagon among the sacks, my mother’s arm wrapped around my head, holding it down so I 
      couldn’t be tempted to take a look. They rode past us and did not stop. It was a poor peddler’s cart, covered in dull tin pots, and Staryk knights
      only ever came riding for gold. The hooves went jangling past, and a knife-wind blew over us, so when I sat up the end of my thin braid was frosted 
      white, and all of my mother’s sleeve where it wrapped around me, and our backs. But the frost faded, and as soon as it was gone, the peddler said to
      my mother, “Well, that’s enough of a rest, isn’t it,” as if he didn’t remember why we had stopped.
     </p>
     <p>
      “Yes,” my mother said, nodding, as if she didn’t remember either, and he got back up onto the driver’s seat and clucked to the horses and set us
      going again. I was young enough to remember it afterwards a little, and not old enough to care about the Staryk as much as about the ordinary cold
      biting through my clothes, and my pinched stomach. I didn’t want to say anything that might make the cart stop again, impatient to get to the city
      and my grandfather’s house.
     </p>
     <p>
      My grandmother would always have a new dress for me, plain and dull brown but warm and well-made, and each winter a pair of new leather shoes that 
      didn’t pinch my feet and weren’t patched and cracked around the edges. She would feed me to bursting three times every day, and the last night before
      we left she would always make cheesecake, her cheesecake, which was baked golden on the outside and thick and white and crumbly inside and tasted 
      just a little bit of apples, and she would make decorations with sweet golden raisins on the top. After I had slowly and lingeringly eaten every 
      last bite of a slice wider than the palm of my hand, they would put me to bed upstairs, in the big cozy bedroom where my mother and her sisters had 
      slept as girls, in the same narrow wooden bed carved with doves. My mother would sit next to her mother by the fireplace, and put her head on her 
      shoulder. They wouldn’t speak, but when I was a little older and didn’t fall asleep right away, I would see in the firelight glow that both of them 
      had a little wet track of tears down their faces.
     </p>
     <p>
      We could have stayed. There was room in my grandfather’s house, and welcome for us. But we always went home, because we loved my father. He was terrible
      with money, but he was endlessly warm and gentle, and he tried to make up for his failings: he spent nearly all of every day out in the cold woods 
      hunting for food and firewood, and when he was indoors there was nothing he wouldn’t do to help my mother. No talk of woman’s work in my house, and
      when we did go hungry, he went hungriest, and snuck food from his plate to ours. When he sat by the fire in the evenings, his hands were always 
      working, whittling some new little toy for me or something for my mother, a decoration on a chair or a wooden spoon.
     </p>
     <p>
      But winter was always long and bitter, and every year I was old enough to remember was worse than the one before. Our town was unwalled and half 
      nameless; some people said it was called Pakel, for being near the road, and those who didn’t like that, because it reminded them of being near 
      the Staryk road, would shout them down and say it was called Pavys, for being near the river, but no one bothered to put it on a map, so no decision
      was ever made. When we spoke, we all only called it town. It was welcome to travelers, a third of the way between Vysnia and Minask, and a small 
      river crossed the road running from east to west. Many farmers brought their goods by boat, so our market day was busy. But that was the limit of 
      our importance. No lord concerned himself very much with us, and the tsar in Koron not at all. I could not have told you whom the tax collector
      worked for until on one visit to my grandfather’s house I learned accidentally that the Duke of Vysnia was angry because the receipts from our 
      town had been creeping steadily down year to year. The cold kept stealing out of the woods earlier and earlier, eating at our crops.
     </p>
     <p>
      The ground froze solid that night with their passing, and every day after that a sharp steady wind blew out of the forest carrying whirls of stinging
       snow. Our own little house stood apart and at the very end of town, without other walls nearby to share in breaking the wind, and we grew ever more
        thin and hungry and shivering. My father kept making his excuses, avoiding the work he couldn’t bear to do. But even when my mother finally pressed
         him and he tried, he only came back with a scant handful of coins, and said in apology for them, “It’s a bad winter. A hard winter for everyone,” 
         when I didn’t believe they’d even bothered to make him that much of an excuse. I walked through town the next day to take our loaf to the baker,
          and I heard women who owed us money talking of the feasts they planned to cook, the treats they would buy in the market. It was coming on midwinter.
       They all wanted to have something good on the table; something special for the festival, their festival.
     </p>
     <p>
      So they had sent my father away empty-handed, and their lights shone out on the snow and the smell of roasting meat slipped out of the cracks while I
       walked slowly back to the baker, to give him a worn penny in return for a coarse half-burned loaf that hadn’t been the loaf I’d made at all.
        He’d given a good loaf to one of his other customers, and kept a ruined one for us. At home my mother was making thin cabbage soup and scrounging 
        together used cooking oil to light the lamp for the third night of our own celebration, coughing as she worked: another deep chill had rolled in 
        from the woods, and it crept through every crack and eave of our run-down little house. We only had the flames lit for a few minutes before a gust 
        of it came in and blew them out, and my father said, “Well, perhaps that means it’s time for bed,” instead of relighting them, because we were almost
         out of oil.
     </p>
     <p>
      By the eighth day, my mother was too tired from coughing to get out of bed at all. “She’ll be all right soon,” my father said, avoiding my eyes. 
      “This cold will break soon. It’s been so long already.” He was whittling candles out of wood, little narrow sticks to burn, because we’d used the
       last drops of oil the night before. There wasn’t going to be any miracle of light in our house.
    
      He went out to scrounge under the snow for some more firewood. Our box was getting low, too. “Miryem,” my mother said, hoarsely, after he left. I took
       her a cup of weak tea with a scraping of honey, all I had to comfort her. She sipped a little and lay back on the pillows and said, “When the winter
        breaks, I want you to go to my father’s house. He’ll take you to my father’s house.”
      
     </p>
     <p>
      The last time we had visited my grandfather, one night my mother’s sisters had come to dinner with their husbands and their children. They all wore
       dresses made of thick wool, and they left fur cloaks in the entryway, and had gold rings on their hands, and gold bracelets. They laughed and sang 
       and the whole room was warm, though it had been deep in winter, and we ate fresh bread and roast chicken and hot golden soup full of flavor and salt,
        steam rising into my face. When my mother spoke, I inhaled all the warmth of that memory with her words, and longed for it with my cold hands curled 
        into painful knots. I thought of going there to stay, a beggar girl, leaving my father alone and my mother’s gold forever in our neighbors’ houses.
     </p>
   </div>

</ion-content>
