<ion-header class="ion-no-border">
  <ion-toolbar color="dark" >
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding "> <br> 
    <h5><b>GROWN</b><i> Chapter 1</i></h5> 
    
    <br>
      <p>
        When I awake, I am eye-level with a puddle of beet juice soaked into the carpet,soft  fibers  cushioning  my  cheek.  
        The  beet  juice  is  dark,  thin,  dried  stickybetween my fingers.Damn,
        
         </p>
  
      <p>
        I have to pee.
       </p>
     
     <p>I roll over, spine unforgiving, and struggle to my feet, knees wobbling, painshooting stars through my skull. Out of the one eye that isn’t swollen, everythingis 
         a  bright  blur.  The  blinding  sun  shines  through  dozens  of  floor-to-ceilingwindows overlooking the city. My jaw is an 
         unhinged door. I lick blood off mybottom lip, relish the metal taste and take in the room.
     </p>
     There’s blood everywhere.
     <p>
      No, not blood. Beet juice. Or maybe cranberry. Thinned barbecue sauce. Butno, not blood. Blood means more than I can comprehend.
      
     </p>
     <p>
      The beet-juice stains are all around his penthouse—on the cream sofa, thesatin curtains, the ivory dining table, splatters on the ceiling . . . 
      I even managedto spill some beet juice down my tank top and jeans. A hectic painting on whatwas once a pure white canvas.
     </p>
     <p>
       A breeze glides up my bald head, the tips of my ears icy as I’m attacked byshivers. It’s not the beet juice or my position on the floor 
       that unnerves me; it’sthe silence. No music, no television, no voices . . . damn, I’m a mess and he’sgoing to be so mad when he 
       sees all these stains. The thought of his inevitablereaction produces more terror than the blood surrounding me.
     </p>
     <p>
      Sorry, not blood. 
      Beet juice.I step over Melissa, cast aside like a dead dog, wrapping arms around myself.Where are my shoes? I didn’t walk in here 
      barefoot.Wait . . . why am I still here? Didn’t I leave last night?
     
     </p>
     <p>
      A bloody handprint glides across the wall toward the bedroom, the door wideopen.Korey is slumped facedown, hanging off the bed . . . 
      body covered in beetjuice. Flaming words are stuck in my esophagus, but my body is frozen, rootedto the floor. If I move . . . if he 
      catches me . . . he’ll kill me.
     </p>
     <p>
      Three pounds on the front door. A voice booms.“Police! Open up!”Piss runs down my leg, soaking my sock.
     </p>
     
   </div>

</ion-content>
