<ion-header>
  <ion-toolbar class="l">
    <ion-title>DETAIL</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div><img src="assets/web/begi.jpg"></div>
      </ion-col>
      <ion-col>
        <div>
          <strong>The Begining of The End</strong> <br>
          <p>Author:Turtleme, Fuyuki23 <br>
            Status:Ongoing<br>
            
            <ion-button  [routerLink]="['/tbate1']" fill="clear" shape="round" size="5">
              Read</ion-button>
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-row>
        <ion-col size="5" class="ion-text-center"> Rating </ion-col>
        <ion-col >
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning" ></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star"color="warning" > </ion-icon>
          <ion-icon name="star-half"color="warning" ></ion-icon> &nbsp; 4.8 <br>
          
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <i>by tapas </i>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <ion-col size="3"><h6> <b> Genre: </b> </h6></ion-col>
        <ion-col>
        <ion-badge color="secondary">Adventure</ion-badge> 
        <ion-badge color="primary" [routerLink]="['/genre1']">Fantasy</ion-badge>
        <ion-badge color="tertiary"[routerLink]="['/genre4']" >Action</ion-badge> 
        <ion-badge color="secondary" [routerLink]="['/genre3']"> Romance</ion-badge> <br>  </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <p> <b> Summary </b> </p>

          <p>
            King Grey has unrivaled strength, wealth, and prestige in a world governed by martial ability. However,
            solitude lingers closely behind those with great power. Beneath the glamorous exterior of a powerful king
            lurks the shell of man, devoid of purpose and will.
          </p>
          <p>
            Reincarnated into a new world filled with magic and monsters, the king has a second chance to relive his
            life. Correcting the mistakes of his past will not be his only challenge, however. Underneath the peace and
            prosperity of the new world is an undercurrent threatening to destroy everything he has worked for,
            questioning
            his role and reason for being born again.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>CHAPTERS</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>CHAPTER 1</ion-label>
      <ion-button fill="clear" [routerLink]="['/tbate1']" >
        <ion-icon slot="start" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>CHAPTER 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CHAPTER 3</ion-label>
    </ion-item>

  </ion-list>
 
</ion-content>