.more{
    background-color: white;
    color:rgb(39, 39, 39);
    border-radius: 24px 24px 24px 24px;
  }
  .try{
    --background: url("/assets/back.jpg") 0 0/100% 100% no-repeat
}
.hea{
  --background: #e7c9c9;
  color: white;
}
p {
  font-family: Tahoma, Verdana, sans-serif;
  }