<ion-header class="ion-no-border">
  <ion-toolbar color="dark" >
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding "> <br> 
    <h5><b>Chapter 1:</b><i> I'm About To Be Removed From The Empress Seat </i></h5> 
    
    <br>
      <p>
        Am I the only one who had a faint smile on my lips when I said those words?<br>

        Sovieshu looked down at me with a half-relieved, half-regretful expression. Was it a charade, or was it sincere? <br>
        
        Until now I had been a good colleague and a perfect empress. We had never fought — that is, until he brought her along. 
        He cast me aside for his lover, but until the last moment he’ll want to be a good man and a good emperor.<br>
        
        Then there was my family and the great church which had approved of our marriage, who insisted that I not step down 
        from the position of empress. He would certainly dislike the idea of going through a tedious divorce trial against both
       of these groups.<br>
        
        He was that sort of man, and that sort of emperor.
      </p>
  
      <p>
        “Your Majesty! This can’t be!” <br>

        Marquis Farang cried out and tried to run towards me, but he was caught by the Emperor’s guards and
         barred from taking a step further…<br>
        
        Marquis Farang and Countess Eliza, my defenders. I am thankful to all of you.
        
        I cast them a grateful glance then turned to the court minister.</p>
        
       <p> “Empress Navier. Do you really agree to this divorce document without any objection?”</p>
        
      The court minister had a slightly angry voice. He wanted me to fight and challenge the reason for divorce.<br>
        
        While the odds of winning the trial were none, it would cause a scandal for the Emperor and his concubine as the people heard the news. That was what the minister, my family and my friends wanted.
        <br>
        I shook my head. A divorce trial may hurt Sovieshu’s reputation, but my name may be scarred as well. It’s not that I had a moral problem, but I might not be able to leverage the situation if it became too complicated.
        <br>
        “I accept the divorce.”
        <br>
        The minister closed his eyes gravely as murmuring broke out into the room.
        <br>
        “And ask for permission to remarry.”
        <br>
        The moment I finished speaking, the mood changed completely. The air stilled into a shocked silence and the minister’s eyes flew open. Everyone glanced at each other, unsure of what they heard.
        <br>
        Sovieshu looked at me confusedly, a frown furrowing his brow. The minister was in a daze.
        <br>
        “Empress Navier…remarry?”
        
        Instead of answering, I stretched out my hand and pointed to one place. As if on cue, a man wearing an embroidered veil that obscured his face burst into pleasant laughter.
        <br>
        “Do I come up now?”
        <br>
        The silence was broken by the murmuring of the crowd again. The man walked through the court and stood next to me. When he took off the veil, Sovieshu lept to his feet.
        <br>
        “Navier! That man–”
        <br>
        “Is the one I will marry.”
        <br>
        The minister’s eyes looked hollow. I smiled and turned the man beside me. He looked at me as if to say, “You expected this reaction, didn’t you?”
        <br>
        Somehow I had a pleasant feeling.
        <br>
        Even though it wasn’t revenge I desired.
        <br>
        *
        
        *
        
        *
        <br>
        The Troby family which I come from had already produced several empresses. Among the imperial family and nobility, arranged marriages were common. Marriage was for politics and romance was for their lovers, and it was common for male or female nobility to have a beloved on the side.
        <br>
        Ossis III, the previous emperor, spotted me as a match for the Crown Prince, and from an early age I was educated by the Empress on etiquette and the workings of the imperial court. Fortunately, the Crown Prince Sovieshu and I took to each other, and we got along like good friends.
        <br>
        We didn’t see each other as lovers, but it was still something. It was the kind of relationship where even when we fought at home, we walked into the wedding hall with a smile.
        <br>
        A lot about us worked well together, and we were quite fortunate. The nobility saw Sovieshu and I as a only pair of cubs, and we put our heads together and discussed the country we would build for the next generation. As an adult, Sovieshu inherited the throne from the late Emperor, and after the coronation ceremony we were on good terms.
        <br>
        …For about three years.
        <br>
        *
        
        *
        
        *
        <br>
        It was a bad day to plan for the new year.
        <br>
        After consulting with the officials all day, I returned to my room to find my ladies-in-waiting with nervous expressions on their faces.
        <br>
        “What’s going on?”
        <br>
        I looked around worriedly, and one of the ladies replied in a sharp voice.
        <br>
        “The Emperor went hunting and brought back a tramp.”
        <br>
        “Then he called us and ordered us to wash the dirty thing.”
        <br>
        All of the ladies-in-waiting were the concubines and wives of high-ranking noble families, and they bathed only me. For ladies that did not even use their own hands to bathe themselves, it must have been a bolt from blue. But it was quite strange. The emperor knew the pride of the ladies-in-waiting better than anyone else, yet he ordered them to wash a woman he brought back after hunting?
        <br>
        “What woman?”
        <br>
        “We don’t know if she’s a prisoner or a slave.”
        <br>
        “Her leg was trapped.”
        <br>
        “Leg?”
        <br>
        “Yes. The emperor found her caught in a trap and saved her…”
        <br>
        The ladies-in-waiting exchanged glances among themselves. There seemed to want to say more, but didn’t want to do it in front of me.
        <br>
        “It’s alright. Tell me.”
        <br>
        After some slight pressure, one of them reluctantly opened her mouth.
        <br>
        “Even when she was filthy she seemed beautiful. I thought I imagined it even before I washed her, but she really was stunning when I was finished.”
        <br>
        “Her beauty was comparable to the Duchess Tuania, the most beautiful woman in the world.”
        <br>
        When they thought I was feeling uncomfortable, the ladies added their own chorus.
        <br>
        “Of course there is no comparison with you, Your Majesty.”
        <br>
        My face was rather attractive. However, as a young princess and a empress, everyone tended to flatter me, so it was unclear exactly how beautiful I was. As a result I would exclude myself from such comparisons.
        <br>
        However, Duchess Tuania was known as the most beautiful woman in society. She debuted at the age of seventeen, and she was still an immaculate butterfly at the age of forty.
        <br>
        And now this mysterious woman was equivalent to Duchess Tuania? And even these high-nosed ladies thought so?
        <br>
        Perhaps the Emperor really did save a great beauty from the hunting ground. There was no reason for my ladies-in-waiting to notice if she was merely pretty.
        <br>
        “You can tell me anything. I can see you all have more to say.”
        <br>
        When I prodded them again, another lady finally gathered up her courage and revealed everything.
        <br>
        “The truth is…the Emperor seems to be fond of her.”
        <br>
        The lady’s face whitened as if she were terrified to let the words leave her mouth.
        <br>
        “The Emperor?”
        
        “After washing her, I dressed her with clothing from someone with a similar size, and when His Majesty saw her he seemed concerned. ‘How did you get hurt? Why are you so thin? You look pale…’”
        <br>
        “That sounds reasonable.”
        
        At my remark the ladies exchanged awkward glances between themselves.
        
        “You have not been in adulthood long and may not have experienced a romantic relationship but…”
        <br>
        “There is a certain nuance and atmosphere, Your Majesty.”
        <br>
        “We are on your side, even if it’s difficult to hear about this.”
        
        “And if it turns out to be nothing then it will be fine.”
        
        Among the ladies-in-waiting, the only one my age was Lady Laura, and the rest were older than me. Their wisdom was richer than mine when it came to human affairs.
        
        “I see…”
        
        I murmured in my embarrassment. Even if what the ladies said was true and that the Emperor was interested in another woman he saved, what should I do? Should I go to the Emperor’s room and ask him if he was interested in his captive, or drive her out, or have her work in the imperial palace? I didn’t know how to react.
        
        Countess Eliza approached carefully.
        
        “How about you try your luck and say that you heard he found an injured woman?”
        
        Everyone agreed and said I should ask in passing.
        
         “Maybe say you heard it from one of the palace maids…”
        
         “Just in case.”
        
        I nodded and smiled, praying it would not be a large issue.
        
        “I will. Thank you all. His Majesty the Emperor is a compassionate man, so he must have brought her here out of pity.”
        <br>
        *
        
        *
        
        *
        
        When would it be a good time to ask the Emperor about the woman he found at the hunting ground? After much consideration, I decided to ask him at dinner tomorrow. Although we were husband and wife, our bedrooms were at the eastern and western ends of the palace. It was said that the rooms were placed to show that the monarchy symbolically supported each side of the country. That meaning had now faded, and now it was a perfect arrangement for the emperor and empress to live without having to touch each other.
        
        Although Sovieshu did not yet have a concubine, we ate and slept separately due to our busy schedules and different lifestyles. However, we had dinner twice a week, and that was tomorrow.
        
        Yes. It would be too meddlesome for me to visit today and ask about the woman from hunting ground. I will wait a day. I hadn’t forgotten what my mother said to me before I was married.
        
        “Do not interfere with Sovieshu even if he takes a concubine later.”
        
        “Is that really alright?”
        
        “Look at history. Were there any emperors without concubines? Even Ossis II, who is known as a great military leader, has had twenty of them. Do not waste your anger on it.”
        
        “…”
        
        “Navier. All you have to be for Sovieshu is be young and beautiful…and healthy. Do you understand my words? You can find a man like that and make him your lover.”
        <br>
        A commoner would widen their eyes at this kind of drama, but this was natural in noble society where political marriages were the norm.
        
        Of course, the right of inheritance would go to the children of the married couple, but problems arose when a spouse was in love with their partner and couldn’t tolerate other lovers. Political conflicts happened that way. This must have been part of my mother’s concern. And so, on her advice, I was not going to go see Sovieshu today. I would ask him tomorrow evening instead.
        
        And even if he took the woman as his concubine…I should pretend to ignore it.
        <br>
        “…”
        
        I was not in love with him. I knew other people lived like me.
        
        Still, when I thought about my husband taking another woman as his lover, there was a lonesome feeling in the corner of my heart. Strange.
        
        I lifted my hand and placed it on my breast. My heart beat neither slow nor fast.
        <br>
        *
        
        *
        
        *
        <br>
        The next day, rumors of the “hunting ground girl” spread even faster. The only ones who spoke openly about it to me were my ladies-in-waiting, but even when sitting in a quiet place I could hear the gossip among the palace.
        
        During lunch, the ladies-in-waiting complained throughout the meal.
        
        <p>“I heard that filthy tramp is a runaway slave. She must have gotten onto the hunting ground while fleeing.”</p>
        
      <p> “The hunting ground is connected to Viscount Roteschu’s estate, so she must have escaped from there.”</p>
        
        “If she’s a runaway slave, she should be sent back immediately. I can’t believe the Emperor took pity on her and made us take care of her.”
        <br>
        Before dinnertime, the ladies dressed me more methodically than usual. They clothed me in a glittering dress and adorned me with silver jewelry and simple pearl earrings, showering me with praise throughout. They always cared for me, but today they seemed especially adamant.
        
        “No matter how beautiful the slave is, you are our Empress.”
        
        “The Emperor will have to wash his eyes after he sees you.”
        
        Their efforts felt empty and passed through my ears. If Sovieshu was going to fall in love with me for dressing beautifully, shouldn’t he have already done so before?
        <br>
        All I had in my head were useless thoughts. However, even though I considered the efforts of the handmaids to be futile, I entrusted myself to them.
        
        After all the preparations were finished, I went to the eastern wing where the Emperor stayed, and sat at a dining table that was far too large for two people. At first we only talked about recent political issues, such as the preparations for New Year’s Day. I waited for Sovieshu to bring up the story about the hunting ground girl, but no matter how long I waited, he didn’t mention her.
        <br>
        It was when he was cutting his steak that I finally brought it up.
        
        “I heard that you found a runaway slave at the hunting grounds. Is that true?”
        
        There was a clack as his knife hit the plate, and his hands stopped. He looked up and stared at me for a moment.
        
         “Who told you that?”
        
        His tone wasn’t pleasant. In fact, he seemed rather tense.
        
        Seeing the wrinkle between his eyebrows, I deliberately covered up the source of the story.
        <br>
        “Everyone was talking. It was hard to miss.”
        
        “It must been your ladies-in-waiting.”
        
        “It doesn’t matter who told me. Again, is it true?”
        
        Sovieshu looked noticeably uncomfortable when I repeated my question.
        <br>
        “Your Majesty?”
        
        “Don’t rush me.”
        
        “…”
        
        “I don’t know what you heard, but what happened was that I found a woman who was badly hurt and I helped her.”
        <br>
        He called her a woman, not a runaway slave…
        
        “I see. So where is she now?”
        
         “Empress.”
        
        “…Please tell me.”
        <br>
        “We have two meals a week together. We have so many other things to talk about, don’t you think?”
        
        The iciness in his voice was clear to me.
        
        Do not get involved in this in any way. </p>
     
     
   </div>

</ion-content>
