<ion-content>
  <div class="wrapper">
    <br>
    <br>
    <br>
    <h1 class="ion-text-center">d'Library</h1>
    <p class="ion-text-center"> Novel and Webtoon in one platform </p>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <ion-button [routerLink]="['/register']" color="light" expand="full" shape="round">
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      REGISTER
    </ion-button><br>
    <ion-button [routerLink]="['/login']" color="light" expand="full" shape="round">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      LOG IN
    </ion-button>
  </div>
</ion-content>