<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    
     <ion-button slot="end" [routerLink]="['/sdapch2']" fill="clear" >
       <ion-icon name="chevron-forward-outline"color="primary" ></ion-icon>
     </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/sdap/ch1/1.jpeg">
<img src="assets/sdap/ch1/2.jpeg">
<img src="assets/sdap/ch1/3.jpeg">
<img src="assets/sdap/ch1/4.jpeg">
<img src="assets/sdap/ch1/5.jpeg">
<img src="assets/sdap/ch1/6.jpeg">
<img src="assets/sdap/ch1/7.jpeg">
<img src="assets/sdap/ch1/8.jpeg">
<img src="assets/sdap/ch1/9.jpeg">
<img src="assets/sdap/ch1/10.jpeg">
<img src="assets/sdap/ch1/11.jpeg">

</ion-content>
