<ion-app>

  <ion-header>
    <ion-toolbar class="l" ><ion-buttons slot="start" [routerLink]="['/genre']">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon> 
    </ion-buttons>
      <ion-title>ROMANCE</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment mode="ios" value="nov" mode="ios" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="nov" layout="icon-start">
          <ion-label> NOVEL</ion-label>
          <ion-icon name="book-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="web" layout="icon-start">
          <ion-label>WEBTOONS</ion-label>
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen *ngIf="selectedSegment =='nov'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div> <img src="assets/nvl/spin.jpg" [routerLink]="['/silver']"></div>
        </ion-col>
        <ion-col>
          <div><strong> SPINNING SILVER</strong>
            <br>
            <p>
              <ion-badge color="light" [routerLink]="['/novel']">
                <ion-icon name="book-outline"></ion-icon>
              </ion-badge> /
              <ion-badge color="success" [routerLink]="['/genre2']">Drama </ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre1']">Fantasy</ion-badge>
              <ion-button [routerLink]="['/silver']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/nvl/rm.jpg" [routerLink]="['/rm1']"></div>
        </ion-col>
        <ion-col>
          <div><strong>REMARRIED EMPRESS</strong>
            <p> </p>
            <p>
              <ion-badge color="light" [routerLink]="['/novel']">
                <ion-icon name="book-outline"></ion-icon>
              </ion-badge> /
              <ion-badge color="danger" [routerLink]="['/genre2']"> Drama</ion-badge>
              <ion-badge color="purple" [routerLink]="['/genre1']">Fantasy</ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre3']">Romance </ion-badge>
              <ion-button [routerLink]="['/rm1']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/nvl/pot.jpg" [routerLink]="['/potrait']"> </div>
        </ion-col>
        <ion-col>
          <div><strong>Potrait of a Scotman</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/novel']">
                <ion-icon name="book-outline"></ion-icon>
              </ion-badge> /
              <ion-badge color="danger" [routerLink]="['/genre3']">Romance</ion-badge>
              <ion-badge color="secondary">Historical</ion-badge>
              <ion-button [routerLink]="['/pot']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/nvl/the.jpg" [routerLink]="['/the']"></div>
        </ion-col>
        <ion-col>
          <div><strong>The Last Chance Library</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/novel']">
                <ion-icon name="book-outline"></ion-icon>
              </ion-badge> /
              <ion-badge color="tertiary">Fiction</ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre1']">Romance</ion-badge>
              <ion-button [routerLink]="['/the']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/nvl/lake.jpg" [routerLink]="['/lake']"></div>
        </ion-col>
        <ion-col>
          <div><strong>LAKELEDGE</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/novel']">
                <ion-icon name="book-outline"></ion-icon>
              </ion-badge> /
              <ion-badge color="purple" [routerLink]="['/genre1']"> Fantasy</ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre3']">Romance,</ion-badge>
              <ion-badge color="dark">Horror</ion-badge>
              <ion-badge color="warning">Young Adult</ion-badge>
              <ion-button [routerLink]="['/lake']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-content *ngIf="selectedSegment =='web' " fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div> <img src="assets/web/begi.jpg" [routerLink]="['/tbate']"></div>
        </ion-col>
        <ion-col>
          <div><strong>The Begining after The End</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/menu']">
                <ion-icon name="color-wand-outline"></ion-icon>
              </ion-badge>
              <ion-badge color="secondary">Adventure</ion-badge>
              <ion-badge color="purple" [routerLink]="['/genre1']">Fantasy</ion-badge>
              <ion-badge color="primary" [routerLink]="['/genre4']">Action</ion-badge>
              <ion-badge color="success" [routerLink]="['/genre3']"> Romance</ion-badge>
              <ion-button [routerLink]="['/tbate']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/web/lady.jpg" [routerLink]="['/lady']"></div>
        </ion-col>
        <ion-col>
          <div><strong>The Lady and Her Butler</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/menu']">
                <ion-icon name="color-wand-outline"></ion-icon>
              </ion-badge>
              <ion-badge color="success" [routerLink]="['/genre2']"> Drama</ion-badge>
              <ion-badge color="tertiary">Josei</ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre3']">Romance</ion-badge>
              <ion-button [routerLink]="['/lady']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/web/inso.jpeg" [routerLink]="['/inso']"></div>
        </ion-col>
        <ion-col>
          <div><strong>Inso's Law</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/menu']">
                <ion-icon name="color-wand-outline"></ion-icon>
              </ion-badge>
              <ion-badge color="tertiary" >Comedy</ion-badge> 
              <ion-badge color="success" [routerLink]="['/genre2']">Drama</ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre3']"> Romance</ion-badge> 
              <ion-badge color="light" [routerLink]="['/menu']">Webtoons</ion-badge>
             
              <ion-button [routerLink]="['/inso']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
          <div> <img src="assets/web/bunn.png" [routerLink]="['/bunny']"></div>
        </ion-col>
        <ion-col>
          <div><strong>Bunny and Her Boys</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/menu']">
                <ion-icon name="color-wand-outline"></ion-icon>
              </ion-badge><ion-badge color="tertiary">Comedy</ion-badge>
              <ion-badge color="warning">School Life</ion-badge>
              <ion-badge color="primary" [routerLink]="['/genre2']">Drama</ion-badge>
              
              <ion-button [routerLink]="['/lady']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div> <img src="assets/web/how.png" [routerLink]="['/fight']"></div>
        </ion-col>
        <ion-col>
          <div><strong>How to Fight</strong>
            <p>
              <ion-badge color="light" [routerLink]="['/menu']">
                <ion-icon name="color-wand-outline"></ion-icon>
              </ion-badge>
              <ion-badge color="tertiary">Comedy</ion-badge>
              <ion-badge color="primary" [routerLink]="['/genre4']">Action</ion-badge>
              <ion-badge color="danger" [routerLink]="['/genre3']"> Romance</ion-badge>
              <ion-button [routerLink]="['/fight']" fill="clear" shape="round" size="5">
                Read</ion-button>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>