<ion-header class="ion-no-border">
  <ion-toolbar color="dark" >
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding "> <br> 
    <h5><b>Dark Rise:</b><i> Chapter 1</i></h5> 
    
    <br>
      <p>
        WAKE HIM UP,' said James, and the hard-faced shipman promptly
        lifted the wooden pail he held and threw its contents into the face of the
        man slumped and restrained in front of them
        </p>
  
      <p>
        Water slapped Marcus, splashing him into consciousness, coughing
        and gasping
        </p>
     
     <p>
      Even dripping, chained and beaten, Marcus had a nobility to him, like a
      knight-gallant in a faded tapestry. Thearrogance of the Stewards, thought James. It
      lingered, like the stinking miasma of the river, though Marcus was manacled
      to prohibit all movement, in the bowels of Simon Creen's cargo ship.
     
     </p>
     <p>
      Down here, the ship's hold was like the insides of a whale ribbed in
      wood. The ceiling was low. There were no windows. Light came from the
      two lamps that the shipmen had hung when they had dragged Marcus in
      here, perhaps an hour ago. It was still dark outside, though Marcus would
      have no way to know that.
      
     </p>
     <p>
      Marcus blinked wet eyelashes. His dark hair fell into his eyes in
      dripping strands. He wore the tattered remains of the livery of his order
      its silver star stained with grime and blood 
     </p>
     <p>
      “Yes,” my mother said, nodding, as if she didn’t remember either, and he got back up onto the driver’s seat and clucked to the horses and set us
      going again. I was young enough to remember it afterwards a little, and not old enough to care about the Staryk as much as about the ordinary cold
      biting through my clothes, and my pinched stomach. I didn’t want to say anything that might make the cart stop again, impatient to get to the city
      and my grandfather’s house.
     </p>
     <p>
      James watched the horror rising in Marcus's eyes as he realised he
      was still alive.
     
     </p>
     <p><i> 
      He knew. </i>Marcus knew what was going to happen to him <br> 
      "So Simon Creen was right about the Stewards,' said James.
     
     </p>
     <p>
      Kill me.' Marcus's throat scraped with gravel, as though seeing
      James meant a full understanding of what was happening. Kill me. James.<br>
      Please. If you ever felt anything for me.
      
     </p>
     <p>
      James dismissed the shipman beside him, and he waited until the man
      was gone, until there were no sounds but the creak of water and wood
      and he and Marcus were alone.
     
     </p>
     <p>
      Marcus's hands were chained behind his back. He was sprawled
      awkwardly because of it, unable to right his balance, thick chains binding
      him with no give to the four heavy iron brackets of the ship. James's eyes
      passed over the massive, immovable iron links.
      
     </p>
     <p>
      'All those vows. You've never really lived at all. Don't you wish you'd
      been with a woman? Or a man
      Like you?
      'Those rumours, said James evenly, 'aren't true.
      If you ever felt anything for any of us-
      'You strayed too far from the flock, Marcus<br> 
      "I beg you, said Marcus.
      He said the words like there was a system of honour in the world
      
      
     </p>
     
   </div>

</ion-content>
